In [94]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, upper, lower, regexp_replace, split, explode, array, element_at
import boto3, io

spark = SparkSession.builder \
    .appName("AppLocalSpark") \
    .getOrCreate()


s3 = boto3.client('s3',
   aws_access_key_id='ASIA5V6I7EOGEFUJ3YJP',
   aws_secret_access_key='dUDLsXUVoIkcKbv8Mchj6kSGx76gPUd3M6Uf2MR9',
   aws_session_token='IQoJb3JpZ2luX2VjEOj//////////wEaCXVzLWVhc3QtMSJHMEUCIAJ0H7tDSzb9v9+lhyhkk3ua/P0zrPoFS72cPhuqiAUlAiEAlOFx9kggNMOKcM5AKoHnjefdznDgrMcZ4q8KHGG8a5IqqgMIkf//////////ARAAGgw5NDA0ODI0MzgwMjgiDFfthoT7mFj2XIn4Nyr+Aq9Yxx8u48HOpVITcuv3Cjmuxp5WFZNC5nmUiHhVSf/rh8n6JtInJavThISKQYTXT3aazdh9C6JDlRAUTcFk7WZcCbxWw+R+NJCFSUQJd4aOI59u0y4igY9GkqgF6gKl9strghc2Vcd5815vw+j4C6zaYNdtlUxsR+sXyAsgPwbv+OjR4jpHGahLwQQGy4wEyrFlKZI1g7KShAtB6MP+1mZ8zeo9LdSCFvj5EwC6ZMe8gLo4w6KjOE0Xw1CzGimVpkEi0Wom01ActxJKD/d9c4l+wMZaSfBr8UVgIR+Zv44tw4kNHd9rXFO+NpPp2cc6s+liUfu6nwj9ip++6/dMKm96hsKd1v/fismTS4f8Jk8cslnofHB9v/heWt+0mbfqeSG6tWuZOTknLD+mXbHDsDRHUN3K9J8y5u0MbUTnXXKeIRndS8cVrH5e6p15n0LYbbaRoxIK6wF36lnsAQ2jwmu7JpgSyZop7n4srIOqmkhgxmswTNes7gMfWsSPU90wz8H4wAY6pgH/3dXHUJhH6NoJLoRLAh9qyJLQoBgEnkMWvQ/hMMRSotG2Mv7YTL3Rd91E8H4p5t5no6TAy/VBZw51Q83F21GhzUGn/UfuFkj74fShKQ6DJOV0tkgiGzZMZTo8jaFisgJbFOuJcPzCd5k86Xx8DADlSE26+ebPGWNiXBBtHo16eHFMFiyROul6q99DOT0reSsRafqE1VcFm8aE8crYh4618/ed/KRE',
   region_name='us-east-1'
)

bucket = "data-lake-do-gabriel-castro"
chave = "RAW/LOCAL/CSV/Movies/2025/4/29/movies.csv"

response = s3.get_object(Bucket=bucket, Key=chave)
conteudo = response["Body"].read().decode("utf-8")  # bytes -> string

# Criar um RDD a partir da string
rdd = spark.sparkContext.parallelize(conteudo.splitlines())

df = spark.read.option("header", True).option("sep", "|").csv(rdd)

numero_colunas_antes = df.count()

In [95]:
# Primeiro é preciso decidir como os gêneros indesejados serão eliminados

df.groupBy("genero").count().show()

+--------------------+-----+
|              genero|count|
+--------------------+-----+
|Action,Adventure,...| 1900|
|        Comedy,Sport| 1052|
| Documentary,Western|   18|
|Adventure,Family,...| 1086|
|Comedy,Drama,Western|  180|
|Film-Noir,Horror,...|    8|
|Comedy,Musical,Sc...|   95|
|Film-Noir,Mystery...|   20|
|Drama,Film-Noir,H...|    4|
|       Comedy,Family| 3544|
|Film-Noir,Romance...|    4|
|Drama,Fantasy,Fil...|    4|
|       Action,Comedy| 5181|
|               Crime| 6475|
|       Drama,Mystery| 3048|
|Biography,Romance...|    4|
|Drama,Film-Noir,M...|   16|
|Action,Romance,We...|  223|
|Biography,Drama,M...|  226|
|Adventure,History...|  119|
+--------------------+-----+
only showing top 20 rows

In [96]:
# Descobrindo outras colunas
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- tituloPincipal: string (nullable = true)
 |-- tituloOriginal: string (nullable = true)
 |-- anoLancamento: string (nullable = true)
 |-- tempoMinutos: string (nullable = true)
 |-- genero: string (nullable = true)
 |-- notaMedia: string (nullable = true)
 |-- numeroVotos: string (nullable = true)
 |-- generoArtista: string (nullable = true)
 |-- personagem: string (nullable = true)
 |-- nomeArtista: string (nullable = true)
 |-- anoNascimento: string (nullable = true)
 |-- anoFalecimento: string (nullable = true)
 |-- profissao: string (nullable = true)
 |-- titulosMaisConhecidos: string (nullable = true)

In [97]:
# Eliminando outros gêneros

In [98]:
try:
    df = df.withColumn(
    "genero_new",
    when(
        (col("genero").contains("Action")) & (col("genero").contains("Adventure")),
        lit("Action and Adventure")
    ).when(
        col("genero").contains("Adventure"),
        lit("Adventure")
    ).when(
        col("genero").contains("Action"),
        lit("Action")
    ).otherwise(lit(None))          # caso não seja nenhum dos três
    )
    df = df.filter(col("genero_new").isNotNull())
    df = df.drop("genero").withColumnRenamed("genero_new", "genero")
    print("Gêneros filtrados!")
except Exception as e:
    print("Falha ao filtrar gêneros!")

Gêneros filtrados!

In [ ]:
df.select("genero").show(30)

In [100]:
df_filtro = (
    df                       
    .filter(col("tituloPincipal") == "\\N")  # Verificando se existem valores nulos
    .select("tituloPincipal")                
)

df_filtro.count()

0

In [101]:
# Muitos filmes duplicados
df.groupBy("tituloPincipal","anoLancamento").count()

DataFrame[tituloPincipal: string, anoLancamento: string, count: bigint]

In [102]:
# Eliminando filmes duplicados

In [103]:
df = df.dropDuplicates(["tituloPincipal", "anoLancamento"])

print("Filmes duplicados eliminados")

Filmes duplicados eliminados

In [ ]:
numero_colunas_depois = df.count()

print("{} linhas eliminadas".format(numero_colunas_antes-numero_colunas_depois))

1005280 linhas eliminadas